.components-base-control__label {
  margin-bottom: 3px;
}

.components-modal__frame textarea,
.components-modal__frame input[type="text"],
.components-popover textarea,
.components-popover input[type="text"] {
  background-color: var(--markdown--color--background--light) !important;
  border-color: var(--markdown--color--text--dark) !important;
  border-radius: 5px;
  color: var(--markdown--color--text) !important;
}

.components-modal__frame textarea:focus,
.components-modal__frame input[type="text"]:focus,
.components-popover textarea:focus,
.components-popover input[type="text"]:focus {
  border-color: var(--markdown--color--accent) !important;
  -webkit-box-shadow: 0 0 0 0.5px var(--markdown--color--accent) !important;
          box-shadow: 0 0 0 0.5px var(--markdown--color--accent) !important;
}
