.components-placeholder {
  background-image: linear-gradient(45deg, var(--markdown--color--background--dark) 5.56%, var(--markdown--color--background) 5.56%, var(--markdown--color--background) 50%, var(--markdown--color--background--dark) 50%, var(--markdown--color--background--dark) 55.56%, var(--markdown--color--background) 55.56%, var(--markdown--color--background) 100%);
  background-size: 12.73px 12.73px;
  border-radius: 0;
  border: 1px solid var(--markdown--color--background--dark);
  -webkit-box-shadow: none;
          box-shadow: none;
  color: var(--markdown--color--text);
  min-height: auto;
  padding: 1.8em 2.25em 1.8em;
}

.components-placeholder.wp-block-embed {
  padding: 1.3em 1.8em;
}

.components-placeholder .components-placeholder__instructions {
  display: none !important;
}

.components-placeholder .components-placeholder__fieldset {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.components-placeholder .components-form-file-upload {
  margin-right: 5px;
}

.components-placeholder .components-placeholder__label,
.components-placeholder .components-placeholder__instructions {
  color: var(--markdown--color--text);
}

.components-placeholder .components-placeholder__label {
  font-size: 13px;
  font-weight: 600;
}

.components-placeholder.wp-block-image .components-button {
  margin-right: 5px !important;
  margin-bottom: 2px;
}

.components-placeholder .components-button.is-tertiary {
  background-color: var(--markdown--color--background);
  border: 1px solid var(--markdown--color--background--dark);
  color: var(--markdown--color--text);
}
