.components-form-toggle .components-form-toggle__track {
  background-color: transparent !important;
  border-color: var(--markdown--color--text) !important;
}

.components-form-toggle.is-checked .components-form-toggle__track {
  background-color: var(--markdown--color--accent) !important;
  border-color: var(--markdown--color--accent) !important;
}

.components-form-toggle .components-form-toggle__thumb {
  background-color: var(--markdown--color--text) !important;
  border-color: var(--markdown--color--text) !important;
}

.components-form-toggle.is-checked .components-form-toggle__thumb {
  background-color: var(--markdown--color--background) !important;
  border-color: var(--markdown--color--background) !important;
}

.components-form-toggle .components-form-toggle__off {
  color: var(--markdown--color--text) !important;
}

.components-form-toggle .components-form-toggle__on {
  border-color: var(--markdown--color--accent) !important;
}

.components-form-toggle.is-checked .components-form-toggle__on {
  border-color: var(--markdown--color--background) !important;
  -webkit-filter: none;
          filter: none;
}

.components-form-toggle .components-form-toggle__input:focus + .components-form-toggle__track {
  -webkit-box-shadow: 0 0 0 2px var(--markdown--color--background--light), 0 0 0 3px var(--markdown--color--text) !important;
          box-shadow: 0 0 0 2px var(--markdown--color--background--light), 0 0 0 3px var(--markdown--color--text) !important;
}
