#components-markdown-shortcut-pinned-button {
	margin-left: 10px;

	.components-button {
		padding: 0 6px;

		svg {
			margin-right: auto;
			margin-left: auto;
		}
	}

	.is-markdown & {
		display: none;
	}
}
