/*
    Name:       dark-mode
    codemirror theme for dark-mode (original wordpress version edited for dark colors)
*/

/* ----------------------------------------------------------------------------------- */

.CodeMirror {
	background-color: #232323 !important;
	color: #EDEDED !important;
}
.CodeMirror-linenumber {
	background-color: #232323 !important;
}
.CodeMirror-linenumbers {
	background-color: #232323 !important;
}
.CodeMirror-guttermarker {
	color: #000;
}
.CodeMirror-guttermarker-subtle {
	color: #999;
}
.CodeMirror-cursor {
	border-left: 1px solid #FFFFFF !important;
}
.cm-fat-cursor .CodeMirror-cursor {
	background: #7e7;
}
.cm-animate-fat-cursor {
	background-color: #7e7;
}
.cm-s-default .cm-header {
	color: #9c27b0 !important;
}
.cm-s-default .cm-quote {
	color: #5c6370;
}
.cm-operator {
	color: #EDEDED !important;
}
.cm-variable {
	color: #e47978 !important;
}
.cm-negative {
	color: #e06c75;
}
.cm-positive {
	color: #e06c75;
}
.cm-header, .cm-strong {
	color: #d19a66;
}
.cm-s-default .cm-keyword {
	color: #2c96ff !important;
}
.cm-s-default .cm-atom {
	color: #6e59ff !important;
}
.cm-s-default .cm-number {
	color: #25c749 !important;
}
.cm-s-default .cm-def {
	color: #7c27ff !important;
}
.cm-s-default .cm-variable-2 {
	color: #6969FF !important;
}
.cm-s-default .cm-type, .cm-s-default .cm-variable-3 {
	color: #085;
}
.cm-s-default .cm-comment {
	color: #946f4a !important;
}
.cm-s-default .cm-string {
	color: #ffb300 !important;
}
.cm-s-default .cm-string-2 {
	color: #C39200 !important;
}
.cm-s-default .cm-qualifier {
	color: #9878b9 !important;
}
.cm-s-default .cm-meta {
	color: #ff5454 !important;
}
.cm-s-default .cm-builtin {
	color: #c5aefb !important;
}
.cm-s-default .cm-bracket {
	color: #997;
}
.cm-s-default .cm-tag {
	color: #170;
}
.cm-s-default .cm-attribute {
	color: #00c;
}
.cm-s-default .cm-hr {
	color: #999;
}
.cm-s-default .cm-link {
	color: #7373d8 !important;
}
.cm-invalidchar, .cm-s-default .cm-error {
	color: #0025D4 !important;
}
.CodeMirror-matchingtag {
	background: rgba(255, 150, 0, .3);
}
.CodeMirror-activeline-background {
	background: rgba(109,189,255,0.06) !important;
}
.CodeMirror-activeline-gutter {
	background: rgba(109,189,255,0.06) !important;
}
.CodeMirror-gutter {
	background: #232323 !important;
}
.CodeMirror-wrap pre {
	background-color: #232323 !important;
}
.CodeMirror-selected {
	background: rgba(114,114,114,0.46);
}
.CodeMirror-focused .CodeMirror-selected {
	background: rgba(114,114,114,0.46) !important;
}
.CodeMirror-line::selection, .CodeMirror-line>span::selection, .CodeMirror-line>span>span::selection {
	background: rgba(85,85,85,0.40) !important;
}
.CodeMirror-line::-moz-selection, .CodeMirror-line>span::-moz-selection, .CodeMirror-line>span>span::-moz-selection {
 background: rgba(85,85,85,0.40) !important;
}