.components-markdown-edit-music {
  .components-menu-item__item {
    span {
      margin-left: 10px;
    }
  }
}

.components-markdown-music {
  background: #333;

  .music-cat-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-flow: column;

    .music-cat {
      display: flex;
      align-items: center;
      color: #fff;
      background: rgba(#fff, .2);
      cursor: pointer;
      padding: 20px;
      margin: 5px 0;
      border-radius: 8px;

      &.active {
        background: rgba(blue, .6);
      }

      span {
        margin-left: 7px;
      }

    }
  }
}

.wp-markdown-music-list {
  color: #fff;

  .wp-markdown-music-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #777;
    padding-bottom: 10px;

    &:last-child {
      border: none;
    }
  }

  .music-icon {
    margin-right: 7px;

    svg {
      width: 25px;
      height: auto;
    }
  }

  .music-play-pause {
    margin-left: auto;
    cursor: pointer;
    font-size: 28px;
    height: auto;
    width: auto;
  }
}