/** dark-mode switch **/
#wp-admin-bar-dark-mode-switch {

  .ab-item {
    display: flex !important;
    align-items: center;
  }

  .dark-mode-switch {
    position: relative !important;
    width: 90px !important;
    background: #eee;
    display: flex;
    align-items: center;

    &, .toggle {
      height: 25px !important;
      border-radius: 100px !important;
    }

    .modes {
      margin-top: -3px;
      position: absolute !important;
      display: flex;
      align-items: center;

      p {
        margin: 0 8px;
        line-height: 1;
      }

      .light {
        color: #000;
      }

      .dark {
        color: #555;
      }
    }

    .toggle {
      position: absolute !important;
      width: 53% !important;
      box-shadow: 0 2px 15px rgba(0, 0, 0, .15) !important;
      transition: transform .3s cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
      background: #fff;
    }

    &.active {
      .toggle {
        transform: translateX(87%);
      }
    }

  }

}

/**--- dark mode ---*/
html.dark-mode-active {
  $bg_color: #10161E;
  $color: #bbc8d4;
  $border_color: #555;
  $link_color: #0073A8;

  #wpbody-content {
    :not(.wp-dark-mode-ignore):not(mark):not(code):not(pre):not(ins):not(option):not(input):not(select):not(textarea):not(button):not(a):not(video):not(canvas):not(progress):not(iframe):not(svg):not(path):not(.mejs-iframe-overlay):not(.dark-mode-ignore) {
      background-color: $bg_color !important;
      color: $color !important;
      border-color: $border_color !important;
    }

    a,
    a *,
    a:active,
    a:active *,
    a:visited,
    a:visited * {
      &:not(.wp-dark-mode-ignore) {
        background-color: transparent !important;
        color: $link_color !important;
        border-color: $border_color !important;
      }
    }
  }

  #wpcontent {
    background: $bg_color !important;

    #wpbody {

      #wpbody-content {

        .delete, .submitdelete {
          color: red !important;
        }

        .notice, .notice * {
          background: #252525 !important;
        }

        #screen-meta * {
          background: #32373c !important;
        }
      }

    }

  }

}

/**-- RankMath --*/
body.dark-mode-active {
  .rank-math-page {
    .rank-math-ui {
      &:before {
        background: #10161E;

      }
    }

    #wpfooter {
      background: #10161E;
    }
  }
}