@import "variables";

body:not(.gutenberg-editor-page) {

  &.rank-math-page {
    #wpcontent {
      background: $base-grey;
    }

    .rank-math-header {
      background: $base-grey;
      color: $light-grey;

      a {
        color: $light-grey !important;
      }
    }

    .rank-math-ui {
      background: $base-grey;

      &:before {
        background: $base-grey;
        color: $light-grey;

      }
    }

    .rank-math-breadcrumbs .active {
      color: $light-grey !important;
    }

    .rank-math-box, .rank-math-box .status {
      background: $base-grey;

      footer {
        background: $base-grey;
      }
    }

    .rank-math-tabs {
      .tab-header, .rank-math-tabs-content {
        background: $base-grey;
      }

      .rank-math-tabs-navigation {
        a {
          background: $ultra-grey;
        }
      }
    }

  }

}