$bg_color: var(--markdown--color--background);
$text_color: var(--markdown--color--text);
$link_color: var(--markdown--color--accent);
$border_color: var(--markdown--color--background--light);
$btn_color: var(--markdown--color--background--dark);

/**--- Main Styles ----*/
:not(.components-markdown-theme-switcher__palette):not(.darkmode-ignore):not(mark):not(code):not(pre):not(ins):not(option):not(input):not(select):not(textarea):not(button):not(a):not(video):not(canvas):not(progress):not(iframe):not(svg):not(path):not(.mejs-iframe-overlay):not(.mejs-time-slider):not(.mejs-overlay-play) {
  background-color: $bg_color;
  color: $text_color;
  border-color: $border_color;
}

/**--- Link Styles ----*/
a,
a *,
a:active,
a:active *,
a:visited,
a:visited * {
  color: $link_color;
  border-color: $border_color;
}


/**--- Input Styles ----*/
button,
iframe,
iframe *,
input,
select,
textarea,
i {
  background-color: $btn_color;
  color: $text_color;
  border-color: $border_color;

  *:not(.components-markdown-theme-switcher__palette) {
    background: transparent !important;
  }
}

/*--Custom CSS--*/
.components-range-control {
  display: none;
}

.components-input-control__container {
  select {
    color: $text_color !important;
    background-color: $btn_color !important;
  }

  .components-input-control__backdrop {
    position: relative;
  }
}

.edit-post-visual-editor {
  font-family: var(--markdown--typography--font-family);
}




/** Editor Area **/
//.interface-interface-skeleton__content, .edit-post-visual-editor {
//  background: $bg_color;
//  color: $text_color;
//}
//
//.editor-post-title {
//  color: $text_color;
//}