.wp-block-more {

	&::before {
		border-top: 1.5px dashed var(--markdown--color--background--dark);
	}

	input[type="text"] {
		background: var(--markdown--color--background);
		color: var(--markdown--color--text);
	}
}
